apiVersion: batch/v1
kind: CronJob
metadata:
  name: reload-docker-images
spec:
  suspend: true
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: api
            image: matoruru/idobata-api:0.0.0
            imagePullPolicy: Always
            command:
            - /bin/sh
            - -c
            - exit 0
          - name: ui
            image: matoruru/idobata-ui:0.0.0
            imagePullPolicy: Always
            command:
            - /bin/sh
            - -c
            - exit 0
