apiVersion: batch/v1
kind: CronJob
metadata:
  name: reload-docker-images
spec:
  suspend: true
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: api
            image: matoruru_idobata-api
            imagePullPolicy: Always
            command:
            - /bin/sh
            - -c
            - exit 0
          - name: ui
            image: matoruru_idobata-ui
            imagePullPolicy: Always
            command:
            - /bin/sh
            - -c
            - exit 0
