apiVersion: apps/v1
kind: Deployment
metadata:
  name: ui
spec:
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: engawa-ui
  replicas: 2
  template:
    metadata:
      labels:
        app: engawa-ui
    spec:
      containers:
      - image: matoruru_engawa-ui
        imagePullPolicy: IfNotPresent
        name: ui
        ports:
        - name: http
          containerPort: 3000
          protocol: TCP
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
          limits:
            cpu: 300m
            memory: 300Mi
        env:
        - name: NODE_ENV
          value: production
