apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: httproute-ui
spec:
  hostnames:
  - minio.matoruru.com
  parentRefs:
  - name: common
    namespace: kube-system
  rules:
  - backendRefs:
    - name: minio
      port: 9001
    matches:
    - path:
        type: PathPrefix
        value: /
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: httproute-api
spec:
  hostnames:
  - s3.matoruru.com
  parentRefs:
  - name: common
    namespace: kube-system
  rules:
  - backendRefs:
    - name: minio
      port: 9000
    matches:
    - path:
        type: PathPrefix
        value: /
