apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
- github.com/argoproj/argo-cd//manifests/ha/cluster-install?ref=v3.2.5
- ./ns.yaml
- ./httproute.yaml
- ./httproute-statusbadge.yaml
- ./appprojects/
- ./repositories/
- ./externalsecret.yaml

patches:
- path: ./config/patches/argocd-cm.yaml
  target:
    kind: ConfigMap
    name: argocd-cm
- path: ./config/patches/argocd-rbac-cm.yaml
  target:
    kind: ConfigMap
    name: argocd-rbac-cm
- path: ./config/patches/argocd-cmd-params-cm.yaml
  target:
    kind: ConfigMap
    name: argocd-cmd-params-cm
- path: ./config/patches/deployment.yaml
  target:
    kind: Deployment
- path: ./config/patches/argocd-argocd-server-role.yaml
  target:
    kind: ClusterRole
    name: argocd-server
