- op: add
  path: /data
  value:
    admin.enabled: "false"

    # Enabling Exec tab
    exec.enabled: 'true'

    kustomize.buildOptions: --enable-helm

    # https://argo-cd.readthedocs.io/en/stable/user-guide/status-badge/#status-badge
    statusbadge.enabled: 'true'

    # SSO: https://argo-cd.readthedocs.io/en/stable/operator-manual/user-management/microsoft/
    url: https://argocd.matoruru.com/ # Replace with the external base URL of your Argo CD
    oidc.config: |
      name: Azure
      issuer: https://login.microsoftonline.com/640dd2c2-336d-4abf-b0ee-0024877ea3fb/v2.0
      clientID: 43d9ca70-41c6-4210-a3cc-eb7717b1f4bc
      clientSecret: $oidc.azure.clientSecret
      requestedIDTokenClaims:
        groups:
          essential: true
      requestedScopes:
      - openid
      - profile
      - email

    # https://docs.cilium.io/en/latest/configuration/argocd-issues/#solution
    resource.exclusions: |
      - apiGroups:
        - cilium.io
        kinds:
        - CiliumIdentity
        clusters:
        - "*"
      - apiGroups:
        - "*"
        kinds:
        - PersistentVolume
        clusters:
        - "*"
