apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
spec:
  selector:
    matchLabels:
      app: sample-ws
  replicas: 2
  template:
    metadata:
      labels:
        app: sample-ws
    spec:
      containers:
      - image: node:latest
        imagePullPolicy: IfNotPresent
        name: web
        command: ["sh", "-c", "cp -rL /app-mnt/* /app/ && echo 'Installing dependencies...' && npm install && echo 'Starting server...' && node /index.js"]
        workingDir: /app
        ports:
        - name: http
          containerPort: 3000
          protocol: TCP
        volumeMounts:
        - name: config
          mountPath: /app-mnt
          readOnly: true
        resources:
          requests:
            cpu: 200m
            memory: 200Mi
          limits:
            cpu: 500m
            memory: 500Mi
        startupProbe:
          httpGet:
            path: /
            port: http
          failureThreshold: 120
          periodSeconds: 1
        readinessProbe:
          httpGet:
            path: /
            port: http
          failureThreshold: 10
          periodSeconds: 1
      volumes:
      - name: config
        configMap:
          name: sample-ws-config
