apiVersion: batch/v1
kind: CronJob
metadata:
  name: reload-docker-images
spec:
  suspend: true
  schedule: "0 0 1 1 *"
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        spec:
          serviceAccountName: reload-images
          initContainers:
          - name: api
            image: matoruru_engawa-api
            imagePullPolicy: Always # This is necessary to pull the fresh image
            command:
            - /bin/sh
            - -c
            - echo "A fresh docker image for api has been pulled!"
          - name: ui
            image: matoruru_engawa-ui
            imagePullPolicy: Always # This is necessary to pull the fresh image
            command:
            - /bin/sh
            - -c
            - echo "A fresh docker image for ui has been pulled!"
          containers:
          - name: restart
            image: bitnami/kubectl:latest
            imagePullPolicy: IfNotPresent
            command:
            - /bin/sh
            - -c
            - |
              NAMESPACE=$(cat /var/run/secrets/kubernetes.io/serviceaccount/namespace)
              echo "Restarting Deployment/api and Deployment/ui at $(date)"
              kubectl -n "$NAMESPACE" rollout restart deployment api ui
          restartPolicy: Never
