apiVersion: apps/v1
kind: Deployment
metadata:
  name: ui
spec:
  selector:
    matchLabels:
      app: idobata-ui
  replicas: 3
  template:
    metadata:
      labels:
        app: idobata-ui
    spec:
      containers:
      - image: matoruru_idobata-ui
        imagePullPolicy: IfNotPresent
        name: ui
        ports:
        - name: http
          containerPort: 3000
          protocol: TCP
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
          limits:
            cpu: 300m
            memory: 300Mi
        env:
        - name: NODE_ENV
          value: production
        envFrom:
        - secretRef:
            name: ui-secret
