apiVersion: apps/v1
kind: Deployment
metadata:
  name: ui
spec:
  selector:
    matchLabels:
      app: idobata
  replicas: 3
  template:
    metadata:
      labels:
        app: idobata
    spec:
      containers:
      - image: matoruru/idobata-ui:0.0.0
        imagePullPolicy: IfNotPresent
        name: ui
        ports:
        - name: http
          containerPort: 3000
          protocol: TCP
        resources:
          requests:
            cpu: 50m
            memory: 100Mi
          limits:
            cpu: 100m
            memory: 200Mi
