apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: postgres-operator
  namespace: {{ .Values.metadata.namespace }}
spec:
  destination:
    namespace: postgres-operator
    server: {{ .Values.spec.destination.server }}
  project: {{ .Values.spec.project }}
  sources:
  - path: manifests/tools/manifests/postgres-operator
    repoURL: {{ .Values.spec.source.repoURL }}
    targetRevision: {{ .Values.spec.source.targetRevision }}
  - chart: postgres-operator
    repoURL: https://opensource.zalando.com/postgres-operator/charts/postgres-operator
    targetRevision: 1.13.0
    helm:
      valuesObject:
        configKubernetes:
          enable_persistent_volume_claim_deletion: false
  - chart: postgres-operator-ui
    repoURL: https://opensource.zalando.com/postgres-operator/charts/postgres-operator-ui
    targetRevision: 1.13.0
    helm:
      valuesObject:
        fullnameOverride: postgres-operator-ui
        envs:
          targetNamespace: "*"          
  syncPolicy:
    syncOptions:
    - CreateNamespace=true
    automated:
      selfHeal: true
      prune: true
